<mat-nav-list>
  <a mat-list-item="" routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-spacer">Signup</span>
  </a>
  <a mat-list-item="" routerLink="/signup" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-spacer">Login</span>
  </a>
  <a mat-list-item="" routerLink="/contact-info" (click)="onClose()">
    <mat-icon>email</mat-icon>
    <span class="nav-spacer">Contact</span>
  </a>
  <a mat-list-item="" routerLink="/chat" (click)="onClose()">
    <mat-icon>textsms</mat-icon>
    <span class="nav-spacer"> Support</span>
  </a>
  <a mat-list-item="" routerLink="/faqinfo" (click)="onClose()">
    <mat-icon>live_help</mat-icon>
    <span class="nav-spacer">FAQ</span>
  </a>

  <a mat-list-item="" routerLink="/faqinfo" (click)="onClose()">
    <mat-icon>eject</mat-icon>
    <span class="nav-spacer">Logout</span>
  </a>
</mat-nav-list>
